.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagesDiv {
    padding: 50px;
}

.ideaCard.MuiPaper-root { 
  margin: 30px;
  width: 90%;
}
/* .MuiPaper-root{
  flex-grow: 0.6;
  margin-top: 30px;
  width: 90%;
} */

.ideaCard.MuiPaper-root:hover{
  transform: scale(1.1);
}

.ideasContainer.MuiPaper-root{
  background-image: url('./blueprint.jpg'); 
}

/* .ideasContainer.MuiPaper-root::after{
  filter: blur(100px); 
  filter: brightness(10%);
} */