.App {
  text-align: center;
}

body{
  background-image: url('./blueprint.jpg'); 
}

.pagesDiv {
  position: relative;
  padding: 5%;
}

.ideaCard.MuiPaper-root { 
  margin: 2%;
  width: 90%;
}
/* .MuiPaper-root{
  flex-grow: 0.6;
  margin-top: 30px;
  width: 90%;
} */

.ideaCard.MuiPaper-root:hover{
  transform: scale(1.1);
  background-color: hsl(199, 100%, 99%);
}

/* .ideasContainer.MuiPaper-root{
} */

/* .ideasContainer.MuiPaper-root::after{
  filter: blur(100px); 
  filter: brightness(10%);
} */